/*  
#f9f9f9 white
#ffe0ac orange
#ffacb7 pink
#6886c5 blue
#ff6363 strong red
https://colorhunt.co/palette/181131
*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&display=swap');

.titletext {
	text-align: center;
	color: #2a7886;
	font-family: 'Maven Pro', sans-serif;
	font-size: 2.5em;
}


.box {
	height: 175px;
	width: 175px;
	background-color: #f9f9f9;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
	text-align: center;
	line-height: 175px;
	font-size: 100px;
	color: black;
	font-family: 'Maven Pro', sans-serif;
	
	
}
#main {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 585px;
	width: 595px;
	background-color:#79bac1;
	padding: 10px;
	border: 16px solid #2a7886;
	
}

body {
	background-color:#79bac1;
}


/* Light Box CSS */

#lightbox {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
}

.hidden{
	display:none;
}

.unhidden {
	display: block;
}

#x {
	position: absolute;
	top:10px;
	right:10px;
	width:30px;
	height:30px;
	z-index:2;
}

#positionMessage {
	position: absolute;
	top:45px;
	left:0px;
	width:100%
}

#boundaryMessage {
	position:relative;
	margin-left: auto;
	margin-right:auto;
	width: 600px;
	height:200px;
	background-color: rgba(255,255,255,0.9);
	z-index: 1;
	padding:30px;
	border: thick solid black;
	top: 25px;
	
}


#newbutton {
		position: absolute;
		top:15px;
		right:15px;
		height:100px;
		width: 150px;
		background-color: #79bac1;
		border: 10px solid #2a7886;
		color: #2a7886;
		font-family: 'Maven Pro', sans-serif;
		font-size: 1.3em;
}